*{
  margin : 0;
}

body{
  background-color : black;
  min-height: 100vh;
}
.bit-container{
  background-color : rgb(30, 30, 30);
  width : 50px;
  height : 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bit-button{
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

.bit-description{
  color : white;
  font-weight: bold;
}

.bit-on{
  background-color : green;
}
.bit-off{
  background-color : red;
}

.flex{
  display : flex;
  gap : 10;
}
.flex-col{
  flex-direction: column;
}
.font-class{
  color : white;
  font-weight:  bold;
  
}

.hex-container{
  width: 40px;
  background-color: rgb(22, 22, 22);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hex-vertical-container{
  display: flex;
  justify-content: space-between;
  width:  100%;
}
.hex-horizontal{
  border-radius: 15%;
  width : 20px;
  height : 10px;
  border-radius: 40%;
}
.hex-vertical{
  border-radius: 40%;
  width: 10px;
  height: 20px;
}

.hex-off{
  background-color : rgb(58, 58, 58);
}

.hex-on{
  background-color: yellow;
}